* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    display: block;
    margin: 0 auto;
    background-color: pink;
    color: tomato;
}

h1 {
    margin-top: 300px;
    text-align: center;
    color: green;
}

.red {
    color: red;
}